.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.spacing>*+* {
    margin-top: var(--spacer, 2rem);
}

.primary-title {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}


.home-introduction {
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;
}

.home-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    background: var(--complimentary);
    border-radius: .25em;
    -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    transition: transform 250ms ease-in-out, opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    -moz-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    -ms-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    -o-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
}

.home-button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;
}

@supports (background-blend-mode: multiply) {
    .home-introduction {
        background: url(../../assets/shoe-6.png), radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


.showcase {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.showcase-img {
    float: left;
    margin: 30px;
    width: 450px;
    height: 450px;
    border: solid var(--lightBlue) 10px;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.listings-title {
    text-align: center;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.listings-title::after {
    /*after is used to place something after anything*/
    content: "";
    /*will place divider after title content*/
    background: var(--lightBlue);
    /*color of divider*/
    width: 80px;
    /*these all are the features of divider*/
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    /*50% from l.H.S*/
    transform: translateX(-50%);
}

.listings {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.card {
    width: min-content;
    height: 500px;
    position: relative;
    padding: 20px;
    margin: 20px 20px;
    box-shadow: #569ca2 0px 0px 2px 3px inset;
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    transition: .4s ease;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.card .card-image {
    width: 300px;
    padding: 0 20px;
}

.card .card-image img {
    width: 100%;
    max-height: 250px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.card .card-content h3 {
    color: #222;
    font-size: 22px;
    margin-top: 10px;
}

.card .card-content p {
    color: #444;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 22px;
    text-align: justify;
    position: absolute;
    bottom: 11%;
    left: 7%;
}

.card-button {
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
    width: 90%;
    padding: .5em;
    background: var(--complimentary);
    border: none;
    border-radius: .25em;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;
}

.card-button:hover {
    background-color: var(--lightBlue);
}